@model newsbr.Models.News
@{
    ViewData["Title"] = "Noticias";
}<div class="text-center">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 header">
                    <h1 class="logo">Noticias</h1>
                </div>
            </div>
        </div>
    </div>
</div>

        @foreach (var c in Model.Articles)
        {
            <table class="table table-borderless">
                <tbody>
                    <tr class="table-dark">
                        <td align="center">
                                <a href="@c.Url">
                                    <img src="@c.UrlToImage" alt="..." width="500" height="250" class="rounded-lg">
                                </a>
                        </td>
                    </tr>
                    <tr class="table-dark">
                        <td>
                            <a href="@c.Url">
                                <strong>
                                    <p class="text-body title">@c.Title</p>
                                </strong>
                                <p class="text-body">@c.Description</p>
                                <p class="text-right">Publicado em @c.PublishedAt</p>
                                
                            </a>
                        </td>
                    </tr>
                    <tr class="table-dark">
                        <td align="center"><a href="@c.Url" class="btn btn-primary btn-sm">Ver</a></td>
                    </tr>
                </tbody>
            </table>
        }
        <h10>Total de noticias : @Html.Raw(Model.totalresults)</h10>
    