@model newsbr.Models.News
@{
    ViewData["Title"] = "Noticias";
}
    <font face="Calibri" color="Black" size="5">
        <div class="text-center">
            <h1 class="display-3">Noticias</h1>
        </div>


        @foreach (var c in Model.Articles)
        {
            <table class="table table-borderless">
                <tbody>
                    <tr class="table-dark">
                        <td align="center">
                                <a href="@c.Url">
                                    <img src="@c.UrlToImage" alt="..." width="500" height="250" class="rounded-lg">
                                </a>
                        </td>
                    </tr>
                    <tr class="table-dark">
                        <td>
                            <a href="@c.Url">
                                    <strong>
                                        <p class="text-body title">@c.Title</p>
                                    </strong>
                                    <p class="text-body">@c.Description</p>
                            </a>
                        </td>
                    </tr>
                    <tr class="table-dark">
                        <td align="center"><a href="@c.Url" class="btn btn-primary btn-sm">Ver</a></td>
                    </tr>
                </tbody>
            </table>
        }
        <h10>Total de noticias : @Html.Raw(Model.totalresults)</h10>
        </font>
